.cc {
  margin-top: 1.6rem;
  width: 28rem;
  height: 16.8rem;
  perspective: 60rem;
  position: relative;

  &.hover,
  &:active,
  &:hover {
    .front {
      transform: rotateY(180deg);
    }
    .back {
      transform: rotateY(0deg);
    }
  }

  .value {
    font-size: 14px;
    line-height: 16px;
    color: #f9fafb;
    opacity: 0.5;
  }

  .letter-spacing {
    letter-spacing: 0.5rem;
  }

  .front,
  .back {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .front {
    padding: 1.6rem 2.4rem 2.4rem;
    background: url('../img/credit-card-front.png') no-repeat center;
    background-size: contain;
    transform: rotateY(0);
  }

  .back {
    background: url('../img/credit-card-back.png') no-repeat center;
    transform: rotateY(-180deg);

    .cc-security {
      position: absolute;
      bottom: 48px;
      right: 75px;

      .value {
        color: #111827;
        opacity: 0.5;
      }
    }
  }

  &-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &-info {
    margin-top: 4rem;
  }

  &-extra {
    margin-top: 2.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-bg {
    position: absolute;
    inset: 0;
    z-index: 0;
  }
}
