.flex {
  display: flex;
}

form {
  padding: 2.4rem;
  max-width: 40rem;
  margin: auto;
}

#credit-card {
  width: 32.8rem;
  height: 21.2rem;
  perspective: 60rem;

  &:active,
  &:hover {
    .front {
      transform: rotateY(180deg);
    }
    .back {
      transform: rotateY(0deg);
    }
  }

  div {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .front {
    background: url(../img/credit-front.png) no-repeat;
    transform: rotateY(0);
  }

  .back {
    background: url(../img/credit-back.png) no-repeat;
    transform: rotateY(-180deg);
  }
}

.inputs {
  margin-top: 4.8rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  label {
    font-weight: 600;
    font-size: 1.4rem;
    color: #e5e7eb;

    &.help {
      @include flexCenter;
      gap: 0.4rem;
    }
  }

  input {
    margin-top: 0.4rem;
    width: 100%;
    padding: 1.2rem;
    border: 0.1rem solid #374151;
    background-color: #111827;
    color: #f3f4f6;
    border-radius: 4px;

    &:focus {
      outline: 0.15rem solid #9333ea;
    }

    &:invalid:focus {
      border: 0.15rem solid #fb7185;

      & + .warning {
        font-size: 1.4rem;
        margin-top: 0.8rem;
        color: #fb7185;
        @include flexCenter;
        gap: 0.4rem;
      }
    }

    + .warning {
      display: none;
    }
  }

  .row {
    @include flexCenter;
    gap: 2.4rem;

    .input-wrapper:nth-child(1) {
      flex-basis: 80%;
    }
  }
}

.info-security {
  margin-top: 4.8rem;
  @include flexCenter;
  justify-content: center;
  gap: 0.8rem;
  font-size: 1.4rem;
  color: #e5e7eb;
}

button {
  margin-top: 10rem;
  background: #9333ea;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 16px 48px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #f9fafb;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: #a855f7;
  }
}
